body {
	background: #EEE;
}

#todo-list {
	background: white;
	width: 600px;
	margin: 50px auto;
	list-style: none;
	padding: 1px 0;
	border: 1px solid #a9a9a9;
	border-top: 10px solid green;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 3px 7px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 3px 7px 0px rgba(50, 50, 50, 0.5);

	.element {
		position: relative;
		border-top: 1px dotted #a9a9a9;
		padding: 0;
		margin: 0;

		&:first-child {
			border-top: none;
		}

		input[type="checkbox"]:checked + label {
			.input {
				text-decoration: line-through;
				color: #a9a9a9;
			}
		} 

		input[type="checkbox"] {
			position: absolute;
			top: 50%;
			left: 10px;
			margin-top: -6px;
		}

		label {
			margin: 0 50px;
			display: block;

			.input {
				display: block;
				width: 100%;
				font-size: 140%;
				font-family: Arial;
				min-height: 30px;
				margin: 5px 0;
			}
		} 

		.destroy {
			display: none;
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -11px;
			width: 20px;
			height: 20px;
			border: none;
			background: none;
			cursor: pointer;
			color: green;
			font-size: 120%;
			font-weight: bold;
		}

		&:hover {
			.destroy {
				display: block;
			}
		}
	}
}