body {
	background: #EEE;
}

#main-container {
	position: relative; 
	border: 2px dashed #AAA;
	margin: 0 auto;

	.entity {
		position: absolute;

		&.enemy {
			background: red;
		}

		&.user {
			background: blue;
		}

		&.bullet {
			background: black;
		}
	}

	.game-over {
		position: absolute;
		top: 50%;
		margin-top: -50px;
		background: black;
		width: 100%;
		line-height: 100px;
		font-size: 40px;
		text-align: center;
		color: white;
	}
}